@model IEnumerable<Publishers>

@{
    ViewData["Title"] = "List of publishers";
}

<h1>Publishers</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table" style="text-align: center">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Bio)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">@Html.DisplayFor(modelItem => item.Title)</td>
                <td class="align-middle">@Html.DisplayFor(modelItem => item.Bio)</td>
                <td class="align-middle" style="width: 247px;">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    
    </tbody>
</table>
